WebProyecto/Connected Services/RefCliente/ServCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64828/ServicioCliente/ServCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64828/ServicioCliente/ServCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64828/ServicioCliente/ServCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFProyecto" />
      <xsd:import schemaLocation="http://localhost:64828/ServicioCliente/ServCliente.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServCliente_InsertarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarCliente" />
  </wsdl:message>
  <wsdl:message name="IServCliente_InsertarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServCliente_ObtenerDetallesCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetallesCliente" />
  </wsdl:message>
  <wsdl:message name="IServCliente_ObtenerDetallesCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetallesClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServCliente_ObtenerClienteActualizado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClienteActualizado" />
  </wsdl:message>
  <wsdl:message name="IServCliente_ObtenerClienteActualizado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClienteActualizadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServCliente_ActualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="IServCliente_ActualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServCliente_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IServCliente_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServCliente">
    <wsdl:operation name="InsertarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServCliente/InsertarCliente" message="tns:IServCliente_InsertarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServCliente/InsertarClienteResponse" message="tns:IServCliente_InsertarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetallesCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServCliente/ObtenerDetallesCliente" message="tns:IServCliente_ObtenerDetallesCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServCliente/ObtenerDetallesClienteResponse" message="tns:IServCliente_ObtenerDetallesCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerClienteActualizado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServCliente/ObtenerClienteActualizado" message="tns:IServCliente_ObtenerClienteActualizado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServCliente/ObtenerClienteActualizadoResponse" message="tns:IServCliente_ObtenerClienteActualizado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServCliente/ActualizarCliente" message="tns:IServCliente_ActualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServCliente/ActualizarClienteResponse" message="tns:IServCliente_ActualizarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServCliente/EliminarCliente" message="tns:IServCliente_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServCliente/EliminarClienteResponse" message="tns:IServCliente_EliminarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServCliente" type="tns:IServCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarCliente">
      <soap:operation soapAction="http://tempuri.org/IServCliente/InsertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetallesCliente">
      <soap:operation soapAction="http://tempuri.org/IServCliente/ObtenerDetallesCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClienteActualizado">
      <soap:operation soapAction="http://tempuri.org/IServCliente/ObtenerClienteActualizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/IServCliente/ActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IServCliente/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServCliente">
    <wsdl:port name="BasicHttpBinding_IServCliente" binding="tns:BasicHttpBinding_IServCliente">
      <soap:address location="http://localhost:64828/ServicioCliente/ServCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>