WebProyecto/Connected Services/RefProducto/ServProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64828/ServicioProducto/ServProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64828/ServicioProducto/ServProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64828/ServicioProducto/ServProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFProyecto" />
      <xsd:import schemaLocation="http://localhost:64828/ServicioProducto/ServProducto.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServProducto_InsertarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProducto" />
  </wsdl:message>
  <wsdl:message name="IServProducto_InsertarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServProducto_ObtenerDetallesProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetallesProducto" />
  </wsdl:message>
  <wsdl:message name="IServProducto_ObtenerDetallesProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDetallesProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServProducto_ObtenerProdActualizado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProdActualizado" />
  </wsdl:message>
  <wsdl:message name="IServProducto_ObtenerProdActualizado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProdActualizadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServProducto_ActualizarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="IServProducto_ActualizarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServProducto_EliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="IServProducto_EliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServProducto">
    <wsdl:operation name="InsertarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServProducto/InsertarProducto" message="tns:IServProducto_InsertarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServProducto/InsertarProductoResponse" message="tns:IServProducto_InsertarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetallesProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServProducto/ObtenerDetallesProducto" message="tns:IServProducto_ObtenerDetallesProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServProducto/ObtenerDetallesProductoResponse" message="tns:IServProducto_ObtenerDetallesProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProdActualizado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServProducto/ObtenerProdActualizado" message="tns:IServProducto_ObtenerProdActualizado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServProducto/ObtenerProdActualizadoResponse" message="tns:IServProducto_ObtenerProdActualizado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServProducto/ActualizarProducto" message="tns:IServProducto_ActualizarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServProducto/ActualizarProductoResponse" message="tns:IServProducto_ActualizarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServProducto/EliminarProducto" message="tns:IServProducto_EliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServProducto/EliminarProductoResponse" message="tns:IServProducto_EliminarProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServProducto" type="tns:IServProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarProducto">
      <soap:operation soapAction="http://tempuri.org/IServProducto/InsertarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetallesProducto">
      <soap:operation soapAction="http://tempuri.org/IServProducto/ObtenerDetallesProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProdActualizado">
      <soap:operation soapAction="http://tempuri.org/IServProducto/ObtenerProdActualizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://tempuri.org/IServProducto/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/IServProducto/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServProducto">
    <wsdl:port name="BasicHttpBinding_IServProducto" binding="tns:BasicHttpBinding_IServProducto">
      <soap:address location="http://localhost:64828/ServicioProducto/ServProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>